.git
.github
.idea
.vscode
.DS_Store
Thumbs.db

node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.turbo
.vite
playwright-report
test-results

.env
.env.*
!.env.example
*.log
*.tsbuildinfo

docs
README.md

